<div class="container" style="margin-top: 100px;">
  <div class="yellow-container">
    <div class="white-container">
      <h2>Edit profile</h2>
      <div class="text-center" style="margin-bottom: 0px;">
        <%= cl_image_tag @profile.photo.url, class: 'avatar-large text-center'  %>
      </div>

        <%= render 'form', profile: @profile %>
    </div>
  </div>
</div>
