<div class="container">
  <div class="yellow-container">
    <div class="white-container">
      <h2>Add a workspace</h2>
      <%= render 'form', workspace: @workspace  %>

    </div>
  </div>
</div>
