<div class="container text-center">
  <div class="yellow-container">
    <div class="white-container">
      <h2>Payment accepted! </h2>
      <%= link_to "Back to workspace's page", workspace_url(@id), class: "btn btn-info" %>
    </div>
  </div>
</div>
