/* overrides container class from bootstrap */
.container {
  margin-top: 6em;
}

.yellow-container {
    background-color: $yellow;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
}

.white-container {
  background-color: white;
  min-height: 100px;
  border-radius: 4px;
  padding: 20px;
  margin: 30px 30px 80px 30px;
  position:relative;

  h2 {
    font-weight: lighter;
    position: absolute;
    top: -58px;
    left: 8px;

  }

  h4 {
    font-weight: normal;
  }

}
