.container  {
  width:80%;
  margin-top: 100px;
  background-color: #65c6c4;
  border-radius: 4px;
  padding-top: 10px;
  min-height: 48vh;
}

.container-margin {
  margin:100px;
}

.form-control{
  padding: 0 !important;
}

.profile-bottom-container {
  background-color: white;
  border: 1px solid #ccc!important;
  border-radius: 4px;
  padding: 20px;
  margin: 30px;
}

.profile-small-container  {
  background-color: white;
  border: 1px solid #ccc!important;
  border-radius: 4px;
  padding: 20px;
  margin: 40px;
}

.profile-button {
  margin-top: 30px;
}
