<div class="mapboxgl-popup">
  <div class="mapboxgl-popup-content" style="padding-top: 20px;">
    <p><strong><%= workspace.title %></strong></p>
    <p><em>Address:</em> <%= workspace.address %></p>
  </div>
</div>
