  <div class="nested-fields">
  <%= t.input :name%>
  <%= t.input :description%>
  <%= t.input :number_of_chairs, label: "number of chairs" %>
  <%= link_to_remove_association "remove place", t%>
</div>