<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">My bookings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined inactive">My workspaces</a>
  </li>
</ul>
