<div class="wrapper">
  <div class="home-container">
    <div class="banner">
      <div class="banner-content homepage-banner-container">
        <div class="title-main">
          <div id="title-main">Unique, creative workspaces</div>
        </div>

        <!-- SEARCH-BAR (INPUT + BUTTON) - BEGIN -->
        <div>
          <script src="https://cdn.jsdelivr.net/npm/places.js@1.16.1"></script>

          <%= form_tag workspaces_path, id: 'algolia_form', method: :get do %>
            <div class="search-bar-container">
              <div class="search-bar">
              <%= text_field_tag :query, params[:query], class: "form-control js-searchbar homepage-search", placeholder: "Where are you going next!", autocomplete:"off" %>
              </div>
              <% end %>
              <input type="submit" value="Search" form="algolia_form" class="wwt-btn">
            </div>

          <script>
            var placesAutocomplete = places({
              appId: 'plPXFELQHKO7',
              apiKey: 'f7133196424bc5de90408baab2aff571',
              container: document.querySelector('.js-searchbar'),
              language: 'en'
            });
          </script>
        </div>
        <!-- SEARCH-BAR (INPUT + BUTTON) - END -->

      </div>
    </div>
  </div>
  <div class="intro">
    <h3>Unique coworking places for your next creation</h3>
    <p>Book one of these spots and find the extraordinary</p>
    <%#= render 'shared/carousel' %>
  </div>


    <%= link_to "Go to all workspaces", workspaces_path,
          class: "btn btn-info" %>

</div>
