@media screen and (max-width: 600px) {
  .search-bar {
    width: 90%;
  }

  .ap-input {
    width: 100% !important;
  }

  .title-main {
    font-size: 40px !important;
  }

  .navbar-wagon-brand img {
    height: 50px;
    margin-left: 0em !important;
  }

  .navbar-wagon {
    /* box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03); */
    height: 3.5em !important;
    top: 0;
    border-width: 0 0 1px;
    padding: 0 12px !important;
  }

  .navbar-wagon-home-brand img {
    height: 50px;
    margin-left: 0em !important;
  }

  .navbar-wagon-home {
    /* box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03); */
    height: 4em !important;
    top: 0;
    border-width: 0 0 1px;
  }

  .ap-dropdown-menu {
  width: 100% !important;
  margin-left: 0px;
  border-radius:15px;
  }

  // .wwt-btn {
  // margin-top: 15px;
  // }

  // .wwt-btn-common {
  //   display: none;
  // }

  // .wwt-btn-common-cellphone {
  //   display: unset !important;
  //   margin-top: 0px !important;
  //   background-color: #4E4C4C !important;
  //   border-radius: 3px !important;
  //   padding-top: 0px !important;
  //   padding-bottom: 0px !important;
  //   color: #FFF !important;
  //   font-size: 14px !important;
  //   width: 25% !important;
  //   height: 100% !important;
  //   font-weight: bold !important;
  //   margin-left: -39px !important;
  //   margin-right: 0px !important;
  //   padding-left: 0px !important;
  //   padding-right: 0px !important;
  // }

  .homepage-banner-container {
    margin-top: 0em !important;
  }

  .ap-input {
    display : unset;
    position: relative;
    vertical-align: top;
    height: 30px !important;
    font-size: 16px !important;
    padding-left: 16px !important;
    width: 100% !important;
    margin-left: 6px !important;
  }

  .search-bar-container {
    // display: flex;
    // align-content: space-around;
    // justify-content: center;
    // background: unset;
    // align-items: baseline;
    // flex-direction: row;
    flex-wrap: nowrap;
  }

  .navbar-wagon-brand img {
    height: 25px !important;
    /*  margin-left: 1.234em !important; */
  }
}


