.carousel-wrapper {
  box-sizing: border-box;
  margin-top: 3%;
  h3 {
    margin-left: 90px;
    color: $dark-gray;
  }
  p {
    margin-left: 92px;
    color: gray;
    font-weight: lighter;
    padding-bottom: 20px;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

// maximum number of slides the carousel can have
$number-of-slides: 6;

.carousel {
  width:95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
}

.carousel__activator {
  display: none;
}

.carousel__controls {
  display: none;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 16px;
  left: 16px;
  bottom: 0;

  &:first-of-type {
    justify-content: flex-end;
  }

  &:last-of-type {
    justify-content: flex-start;
  }
}

.carousel__control {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #3d414a;
  border-radius: 100%;
  box-shadow: 0 2px 10px 0 rgba(33,34,36,0.3);
  font-size: 24px;
  height: 48px;
  justify-content: center;
  transition: 0.3s all;
  width: 48px;
  z-index: 1;
  font-weight: lighter;

  &:hover {
    transform: scale(1.05);
  }
}

@for $i from 1 through $number-of-slides {
  .carousel__activator:nth-of-type(#{$i}):checked
    ~ .carousel__controls:nth-of-type(#{$i}) {
    display: flex;
  }

  .carousel__activator:nth-of-type(#{$i}):checked
    ~ .carousel__screen
    .carousel__track {
    transform: translateX(#{(1 - $i) * 100%});
  }
}

.carousel__screen {
  overflow: hidden;
  margin-left: -16px;
  margin-right: -16px;
}

.carousel__track {
  // font size 0 to remove space between the slides
  // https://css-tricks.com/fighting-the-space-between-inline-block-elements/
  font-size: 0;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.carousel__item {
  display: inline-flex;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
  white-space: normal;
}

// desktop can have up to 5 items per slide
@for $i from 1 through 3 {
  .carousel__item--desktop-in-#{$i} {
    width: #{100% / $i};
  }
}

.demo-container {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
}

.demo-content {
  background-size: cover;
  display: flex;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border-radius: 3px;
  font-size: 25px;
  word-wrap: break-word;
  text-align: center;
  height: 250px;
  width: 100%;
  padding: 10px;

  a {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 1023px) {
  .carousel {
    padding-left: 0;
    padding-right: 0;
  }

  .carousel__activator:nth-of-type(n):checked {
    ~ .carousel__controls:nth-of-type(n) {
      display: none;
    }

    ~ .carousel__screen .carousel__track {
      transform: none;
    }
  }

  .carousel__screen {
    margin-left: 0;
    margin-right: 0;
  }

  .carousel__track {
    overflow-x: auto;
    width: auto;
    padding-left: 48px;
    padding-right: 48px;
  }

  // tablet can have up to 3 items per slide
  @for $i from 1 through 3 {
    .carousel__item--tablet-in-#{$i} {
      // 90% instead of 100% so the next slide appears on the right side
      width: #{90% / $i};
    }
  }
}

@media screen and (max-width: 650px) {
  .carousel__track {
    padding-left: 0;
    padding-right: 0;
  }

  // desktop can have up to 3 items per slide
  @for $i from 1 through 3 {
    .carousel__item--mobile-in-#{$i} {
      // 90% instead of 100% so the next slide appears on the right side
      width: #{90% / $i};
    }
  }
}
