.review-white-container {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  margin: 30px 30px 80px 30px;
  position:relative;

  h1 {
    font-weight: normal;
  }

  h2 {
    font-weight: lighter;
    position: absolute;
    top: -58px;
    left: 8px;

  }

}

.review-bottom-white-container {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  margin: 30px;
  position:relative;

  h1 {
    font-weight: 400;
  }

  h2 {
    font-weight: lighter;
    position: absolute;
    top: -58px;
    left: 8px;

  }

  h4 {
    font-weight: normal;
  }

}

.review-container {
  border: 1px solid #C4C4C4;
  min-height: 100px;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.review-post-time {
  font-weight:lighter;
  position: absolute;
  bottom: -4px;
  right: 10px;
  font-size: 15px;
}

.review-edit {
    position: absolute;
    bottom:8px;
    right: 8px;
    font-size: 15px;
    text-align: right !important;
    font-weight: lighter;
    text-decoration: none !important;
    color: #C4C4C4;

  &:hover {
    text-decoration: none !important;
    color: #626161;
  }

}

.review-post-time {
    margin: 10px;
}

.show-container {
  position: relative;
  background-color: white;
  border: 1px solid #ccc!important;
  border-radius: 4px;
  padding: 10px;
  margin: 30px;

  .review-post-time {
    margin: 10px;
  }

  h4 {
    margin: 20px;
    font-weight: normal;
  }

  p {
    margin: 20px;
    font-weight: normal;
  }

  a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 10px;
  }
}

.review-stars {
    margin-bottom: 10px;
    font-size: 25px;
  }
