.tabs-underlined {
  display: flex;
  align-items: center;

  a {
    font-size: 46px;
    font-weight: lighter;
  }
}

.tabs-underlined .tab-underlined {
  color: #626161;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #626161;
}
