/* Your card CSS code here */
.workspace-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.workspace-cards .workspace-card{
  flex: 1 1 auto;
  box-sizing: border-box;
  border: 1px solid #ccc!important;
  border-radius: 4px;
  margin: 20px;
  transition: all 0.3s ease;

  a {
    color: gray !important;
    text-decoration: none !important;
  }

  p {
    font-size: 16px;
    padding-top: 5px;
  }
}

.workspace-card:hover{
  box-shadow: 0 0 8px rgba(0,0,0,0.4);

}

.workspace-card-content {
  display: flex;
  flex-direction: row;

}

.workspace-card-image {
  margin: 10px;
  background-size: cover;
  width: 40%;
  color: white !important;

}

.workspace-card-rating {
  position: absolute;
  font-size: 15px;
  letter-spacing: 2px;
  opacity: 0.8;
}

.workspace-card-title {
  position: relative;
  padding: 10px;
  font-size: 25px;
  height:200px;
  width: 60%;
}

.workspace-card-title-position {
  position: absolute;
  bottom: 20px;

}

.workspace-card-user {
}

.workspace-card-user h2{
  font-size: 15px;
}


.workspace-card-footer {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.workspace-card-footer p{
  font-weight: lighter;
  color: rgb(150, 150, 150);
  font-size: 13px;
}

.workspace-card-footer .controls {
  display: flex;
  align-items: center;
}

.workspace-card-footer .controls i{
  color: black;
  opacity: 0.2;
  padding: 0 8px;
}

.workspace-card-footer .controls i:hover {
  opacity: 0.5;
}

#map-button {
color: white;
padding: 15px;
border-radius: 50px;
font-weight: bold;
background: #F5E965;
transition: background 0.3s ease;
height: 40px;
width: 40px;
position: absolute;
bottom: 10px;
right: 10px;
display: flex;
justify-content: center;
align-items: center;

}

#map-button:hover {
opacity: 1;
background: #F5E965;
text-decoration: none;
color: white;
}

#map-x {
padding: 15px;
border-radius: 50px;
transition: background 0.3s ease;
height: 40px;
width: 40px;
position: absolute;
top: 50px;
left: 10px;
display: flex;
justify-content: center;
align-items: center;
z-index: 1100;
font-size: 40px;
font-weight:lighter;
display: none;
}

@media all and (max-width: 800px) {
  #map {
    height: 100vh;
    width: 100vw;
    position: fixed !important;
    top: 150vh !important;
    margin: 0;
    transition: .4s ease;
  }

}
